[global]
   NetBIOS name = {{ remote_host }}
   server string = Serveur de fichiers
    idmap config * : range = 10000-20000
    idmap config {{ dc_name|upper }}:backend = ad
    idmap config {{ dc_name|upper }}:unix_nss_info = yes
    idmap config {{ dc_name|upper }}:schema_mode = rfc2307
    idmap config *:backend = tdb

   workgroup = {{ dc_name|upper }}
   os level = 20
   preferred master = no
       max log size = 50
   log file = /var/log/samba/log.%m
   encrypt passwords = yes
   dns proxy = no
   realm = {{ dc_name|upper }}.{{ ex_name|upper }}
   security = ADS
   obey pam restrictions = yes


   winbind use default domain = yes
   winbind enum groups = yes
   winbind enum users = yes
   winbind refresh tickets = yes
   winbind gid = 10000-20000
   winbind cache time = 10
   template shell = /bin/bash
   template homedir = /home/%D/%U
   invalid users = root



[partage]
   comment= Commun pour les users
   path = /home/partage
   browseable =yes
   writeable = yes
   create mask = 700
   directory mask = 700
   valid users = @"Utilisateurs du domaine"
   admin users = @srv_technique

[homes]
   comment = HOME pour les users
   browseable = no
   writeable = yes

